<html>
  <head>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    Dear <%= @employee_detail.try(:emp_name) %>, <br/><br/>
    <%if @expense_settlement.is_closed?%> 
      Following Travel settlement will be credited to your bank account in the next pay cycle (5th /15th /25th of every month)
    <%else%> 
      Please refer the travel expense settlement sheet. Kindly confirm the same from your end for payroll processing.
    <%end%>
    <br/><br/>

    <%= render :partial => '/partial/expense_settlement/report' %>

    <br/><br/>
    ThoughtWorks Finance Team
  </body>
</html>
