<html>
  <head>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    Dear <%= @profile.get_full_name %>, <br/><br/>

    Following expense reimbusement will be credited to your bank account in the next pay cycle (5th /15th /25th of every month)
    <br/>
    Your expense details

    <br/><br/>

    <%= render :partial => '/partial/expense_reimbursement/report' %>

    <br/><br/>

    Please get in touch with the finance team for any queries.

    <br/><br/>
    ThoughtWorks Finance Team
  </body>
</html>
