<h1>Expense Reimbursement</h1>

<%= render :partial => '/partial/expense_reimbursement/report' %>

<div style="float: left">
  <%= submit_tag("<< Back", :type=> "button", :class => 'back_btn') %>
</div>
