<html>
	<body>
		<%= render :partial => '/partial/expense_settlement/report' %>
		<div style="float:left;padding-top:5px"><input type="button" value="<< Back" onclick="javascript:history.back(-1)"/></div>
		<div style="float:right;padding-top:5px"><%=button_to 'Mark as Processed', :action => 'set_processed', :id => @expense_report.id.to_s%></div>
        <div style="float:right;padding-top:5px"><%=button_to 'Notify employee', :action => 'notify', :id => @expense_report.id.to_s%></div>
	</body>
</html>
