<html>
  <body>
    <%= render :partial => '/partial/expense_settlement/report' %>
    <table id="report_buttons">
      <tr>
        <td><div style="float:left;padding-top:5px"><input type="button" value="<< Back" onclick="javascript:history.back(-1)"/></div></td>
        <td>
			<div style="float:right;padding-right:10px;">
			<%if @expense_report.status='Generated Draft'%>
				<%=button_to 'Notify employee', :action => 'notify', :id => @expense_report.id.to_s%>
			<%end%>
			</div>
		</td>
      </tr>
    </table>
  </body>
</html>
