<html>
<body>
<h1>Expense Reimbursement</h1>

<%= render :partial => '/partial/expense_reimbursement/report' %>

<div style="float: left">
  <input type="button" name='Back' value="Back" onclick="javascript:history.go(-1);"/>
</div>
</body>
</html>
