# Enter your per-environment constants below
defaults: &defaults
  SMTP_SETTINGS: &default_smtp_settings
    :domain: "thoughtworks.com"

development:
  <<: *defaults
  SMTP_SETTINGS:
    <<: *default_smtp_settings
    :host: "localhost"
    :port: 1025

test:
  <<: *defaults
  SMTP_SETTINGS:
    <<: *default_smtp_settings

uat: &uat
  <<: *defaults
  SMTP_SETTINGS:
    <<: *default_smtp_settings
    :address: "10.10.1.5"
    :port: 25
    :enable_starttls_auto: true

production:
  <<: *uat
