<%= render :partial => '/partial/expense_settlement/report' %>

<table id="report_buttons">
  <tr>
    <td>
      <div class="left_button">
        <%= button_to '<< Back', { :action => 'edit', :id => @expense_settlement[:id]}, :method => :get %>
      </div>
    <td>
      <div class="right_button">
        <% if @expense_report.is_generated_draft? %>
          <%= button_to 'Notify employee', :action => 'notify', :id => @expense_report.id.to_s %>
        <% end %>
      </div>
    </td>
  </tr>
</table>
