<%= render :partial => '/partial/expense_settlement/report' %>

<table id="report_buttons">
  <tr>
    <td>
      <div class="left_button">
        <%
        back_path = @expense_settlement.is_complete? || @expense_settlement.is_closed? ? expense_settlements_path(:anchor => 'expense_settlements') : edit_expense_settlement_path(:id => @expense_settlement.id)
        %>
        <%= button_to('<< Back', back_path, :method => :get) %>
      </div>
    <td>
      <div class="right_button">
        <% if @expense_settlement.is_generated_draft? %>
          <%= button_to('Notify employee', notify_expense_settlement_path(:id => @expense_settlement.id.to_s)) %>
        <% end %>
      </div>
    </td>
  </tr>
</table>
