body{
	font: 13px helvetica,arial,freesans,clean,sans-serif !important
}

input {
	padding: 5px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, 
		from(#E8E1DA), to(#ffffff));
	background: -moz-linear-gradient(top,  #E8E1DA,  #ffffff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	-webkit-box-shadow: 1px 1px 0px #E8E1DA;
	-moz-box-shadow: 1px 1px 0px #E8E1DA;
	box-shadow:  1px 1px 0px #E8E1DA;
}

table {
    border: 1px solid #512E2E;
    border-collapse: collapse;
    margin: 1em auto;
    width: 100%;
    font-size: 13px;
}

th{
	padding: 10px;
	font-size: 125%;
	border: 1px solid #512E2E;
}

td{
	padding: 5px;
	border-right: 1px solid #512E2E;
}

th,tr.odd{
	background-color: #E8E1DA;
}

tr.even{
    background-color: #ffffff;
}

.reimb_heading{
    font-weight: bold;
    font-size: 120%
}

.reimb_value{
    font-size: 120%;
    margin-right: 20%;
}
