body{
	font: 13px helvetica,arial,freesans,clean,sans-serif !important
}

input {
	padding: 5px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, 
		from(#E8E1DA), to(#ffffff));
	background: -moz-linear-gradient(top,  #E8E1DA,  #ffffff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	-webkit-box-shadow: 1px 1px 0px #E8E1DA;
	-moz-box-shadow: 1px 1px 0px #E8E1DA;
	box-shadow:  1px 1px 0px #E8E1DA;
}

table {
    border: 1px solid #512E2E;
    border-collapse: collapse;
    margin: 1em auto;
    width: 100%;
    font-size: 13px;
}

th{
	padding: 10px;
	font-size: 125%;
	border: 1px solid #512E2E;
}

td{
	padding: 5px;
	border-right: 1px solid #512E2E;
}

th,tr.odd{
	background-color: #E8E1DA;
}

tr.even{
    background-color: #ffffff;
}

.hide{
	display: none;
}

/* Error, Warning divs - Starts */
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	-webkit-box-shadow: 1px 1px 0px #E8E1DA;
	-moz-box-shadow: 1px 1px 0px #E8E1DA;
	box-shadow:  1px 1px 0px #E8E1DA;
	width: 50%;

}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(info.png);
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url(success.png);
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(warning.png);
}
.errors {
    color: #D8000C;
    background-color: #FFBABA;
    padding: 2px;
    border: solid;
    border-width: 1px;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(error.png);
}

.content{
}

/* Error, Warning divs - Ends*/
/* Styling for Pagination -- Starts */
.pagination {
 font: 83%/1.4 arial, helvetica, sans-serif;
    margin: 1em 0;
    clear: left;
    font-size: 100%;
}

.pagination a{
	color:#512E2E;
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
}

.pagination span.current{
	float: left;
	padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #E8E1DA;
    font-weight: bold;
    background: #512E2E;
    color: #fff;
}

.pagination span.gap{
	float: left;
	padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #E8E1DA;
    font-weight: bold;
}

.pagination a {
    border: 1px solid #512E2E;
    text-decoration: none;
}

.pagination a:hover {
    border-color: #E8E1DA;
}

.pagination a.next {
    font-weight: bold;
}

.pagination span.next {
    color: #666;
}

.pagination span.next {
    border: 1px solid #ddd;
    color: #999;
}

.pagination .nextprev-next {
    float: right;
}

.search_by {
    font-weight: bold;
    font-size: 125%;
}

.top_bar{
    background: url("images/ui-bg_diagonals-medium_brown.png") repeat scroll 50% bottom #FEF1EC; 
    height: 90px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #717171;
    -webkit-box-shadow: 1px 1px 0px #E8E1DA;
    -moz-box-shadow: 1px 1px 0px #E8E1DA;
    box-shadow:  1px 1px 0px #E8E1DA; 
    margin-bottom: 10px; 
}

.top_bar .thought_works{
    font-size: 300%;
    padding: 10px 10px 0 10px;
}

.top_bar .title{
    float: right;
    font-size: 200%;
}

.top_bar .title a{
    text-decoration: none;
}

.top_bar .title a:visited{
    color: black;
}
.or_field{
    font-size: 150%;
    font-weight: bold;
}

.heading{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.right_align{
    float: right;
    font-size: 120%;
    padding: 1% 1%;
}

.left_align{
    float: left;
    font-size: 120%;
    padding: 1% 1%;
}


.fields table{
    border: 0;
    width: 70%;
    margin: 0;
}

.fields td{
    border: 0;
}

.fields .text{
    text-align: right;
}

.actions{
    padding: 10px;
    margin-left: 25em;
}

.display_table{
    width:80%;
}

.center_text{
    text-align: center  ;
}

#expense_report_accordion{
    width: 90%;
    margin-left:5%;
    margin-bottom:5%;
    margin-top: 1%;
}






