<div class='report_section'>
  <h2>Expense Reports</h2>
  <%= link_to(image_tag("upload.png") + "Upload expense report (from Sharon)", 'expense_settlements/show_uploads') %>
</div>
<div class='report_section'>
  <h2>Forex Reports</h2>
  <%= link_to(image_tag("reports.png") + "Generate Forex reports within a given date range.", forex_reports_path) %>
</div>
<div class="report_section">
  <h2>Bank Reimbursement Statement</h2>
  <%= link_to(image_tag("excel.png") + "Download Expense Excel sheet.", export_consolidated_expenses_path(:format => :xls)) %>
</div>