<div class="top_bar">
  <div id='user_nav' class='right_align'>
    <div class='right_align'>
    <% if current_user %>
      Logged in as <%= current_user.user_name %>.
      <%= link_to("Log out", session_path(:id => 'dummy'), :method => :delete) %>
    <% else %>
      <%= link_to "log in", new_session_path %>
    <% end %>
    </div>
    <div class="thought_works"><b>Thought</b>Works</div>
  </div>
  <div class="title">
    <!-- TODO: Shouldnt this be the root url? -->
    <%= link_to(image_tag("/assets/logo.png", :alt => "Expense Reimbursement System"), expense_reimbursements_path, :style => "text-decoration: none;") %>
  </div>
</div>
